<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<nav class="navbar navbar-default" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Crossword Dashboard</a>
	  </div>
	
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    	    <ul class="nav navbar-nav">
	      <li><a href="#">Overview</a></li>
	      <li><a href="#">Statistics</a></li>
	      <li class="active"><a href="/beacons">Manage Beacons</a></li>
	      <li><a href="/groups">Manage Groups</a></li>
	      <li><a href="/triggers">Manage Triggers</a></li>
	      
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><p class="navbar-text">Crosswords</p></li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stores<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#"></a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li><a href="#">Separated link</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>


    <div class="container">
    	<div class="row" style="padding:10px;">
    		<div class="alert alert-info">
    			<h4><strong>Beacons</strong></h4>
    			<span><p>Set up and manage your beacons from this panel.</p><a class="btn btn-default" href="./beacons/add">Add a Beacon</a></span>
    		</div>
    	</div>
    	{% if beacons %}
    	<div> <!-- List of Beacons -->
    	<div class="row">
	      	<div class="col-md-10" style="padding:10px;">
		      	{% for beacon in beacons %}
	      		<div class="thumbnail" style="padding:10px;"><!-- Single Beacon -->
			    	<div class="row">
			    	<div class="col-md-12">
				    	<h4><strong><a href="#">{{ beacon.nickname }}</a></strong></h4>
				    </div>
				</div>
					<div class="row">
					<div class="col-md-8">      
						<p>
							{{ beacon.description }}
						</p>
					</div>
					<div class="col-md-4">
						<div class="row col-md-12">
							<p>Beacon Activity</p>
						</div>
						<div class="row col-md-12">
				      		<div class="progress">
					      		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
						    		 <span class="sr-only">20% Complete</span>
						    	</div>
						    </div>
						    <div class="progress">
					      		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    		 <span class="sr-only">60% Complete</span>
						    	</div>
						    </div>
						    <div class="progress">
					      		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    		 <span class="sr-only">60% Complete</span>
						    	</div>
						    </div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-9">
				    	<p>
				          <i class="icon-user"></i> Group(s): 
				          {% for group in beacon.groups %}
				          	<a href="./groups/{{ group.id }}"><span class="label label-info"> {{ group.nickname }}</span></a>
				          {% endfor %}
				    	</p>
				    	<p>
				          <i class="icon-user"></i> Trigger(s): 
				          {% for trigger in beacon.triggers %}
				          	<a href="./triggers/{{ trigger.id }}"><span class="label label-warning"> {{ trigger.nickname }}</span></a>
				          {% endfor %}
				    	</p>
					</div>
					<div class="col-md-3"
						<p><a class="btn btn-primary pull-right" href="./beacons/{{beacon.id}}">More Info</a></p>
						</div>
			    </div>
				</div><!-- End Single Beacon -->
				<hr>
				{% endfor %}
	      	</div>
		  </div>
	   </div><!-- End List -->
	   {% else %}
	   <div class="row">
	   		<div class="col-md-8">
	   			<h1>You currently have no beacons</h1>
	   		</div>
	   </div>
	   {% endif %}
	   
    </div> 
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
